@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #595959;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.22;
  /* 27/22 */
  color: #887677;
}

.title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.title--bleak {
  color: #000000;
}

.text {
  line-height: 1.71;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.resume__container {
  padding: 1.875rem;
  background-color: #E7DDD9;
}

.resume__content {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0.375rem 0.375rem 1.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.375rem 0.375rem 1.25rem rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23.125rem 1fr;
  grid-template-columns: 23.125rem 1fr;
}

.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #BAB0AF;
  padding-top: 2.1875rem;
  padding-bottom: 1.5625rem;
}

.sidebar-menu__avatar-ibg_contain {
  background-color: #BAB0AF;
  padding-bottom: 95.6756756757%;
}

.sidebar-menu__avatar-ibg_contain img {
  max-width: 100%;
}

.sidebar-menu__avatar-ibg_contain:not(:last-child) {
  margin-bottom: 1.875rem;
}

.sidebar-menu__contacts {
  padding-left: 2.5rem;
}

.sidebar-menu__contacts:not(:last-child) {
  margin-bottom: 1.875rem;
}

.sidebar-menu__skills {
  padding-left: 2.5rem;
}

.sidebar-menu__skills:not(:last-child) {
  margin-bottom: 1.875rem;
}

.sidebar-menu__soft-skills {
  padding-left: 2.5rem;
}

.sidebar-menu__soft-skills:not(:last-child) {
  margin-bottom: 1.875rem;
}

.sidebar-menu__languages {
  padding-left: 2.5rem;
}

.sidebar-menu__languages:not(:last-child) {
  margin-bottom: 1.875rem;
}

.skills-sidebar__list {
  padding-left: 0.9375rem;
}

.soft-skills__list {
  padding-left: 0.9375rem;
}

.contacts-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.contacts-sidebar__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}

.contacts-sidebar__phone img {
  width: 15px;
}

.contacts-sidebar__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}

.contacts-sidebar__email img {
  width: 15px;
}

.contacts-sidebar__github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}

.contacts-sidebar__github img {
  width: 15px;
}

.contacts-sidebar__linkin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}

.contacts-sidebar__linkin img {
  width: 15px;
}

.item-languages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem 1fr;
  grid-template-columns: 5rem 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  row-gap: 0.5rem;
}

.item-languages__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  gap: 0.3125rem;
}

.item-languages__dot {
  width: 0.8125rem;
  height: 0.375rem;
  border-radius: 40%;
  background-color: #000000;
}

.body-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 32.8125rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.body-resume__label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.21;
  /* 17/14 */
}

.body-resume__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.body-resume__name {
  font-weight: 700;
  color: #887677;
  line-height: 1.22;
  /* 55/45 */
  position: relative;
}

.body-resume__name:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.body-resume__name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #887677;
  bottom: 0;
  left: 0;
}

.projects__list {
  padding-left: 0.9375rem;
}

.experience__list {
  padding-left: 0.9375rem;
}

.education__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.education__names {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1;
  /* 17/16 */
  color: #000000;
}

.education__names:not(:last-child) {
  margin-bottom: 0.375rem;
}

@media (min-width: 76.875em) {
  .resume__content {
    gap: 5.75rem;
  }

  .resume__body {
    padding-top: 5.6875rem;
  }

  .resume__body {
    padding-bottom: 5.6875rem;
  }

  .sidebar-menu {
    gao: 2.5rem;
  }

  .body-resume {
    gap: 3.125rem;
  }

  .body-resume__name {
    font-size: 2.8125rem;
  }
}

@media (max-width: 20em) {
  .resume__content {
    gap: 0.625rem;
  }

  .resume__body {
    padding-top: 1.875rem;
  }

  .resume__body {
    padding-bottom: 1.875rem;
  }

  .sidebar-menu {
    gao: 0.9375rem;
  }

  .body-resume {
    gap: 1.5625rem;
  }

  .body-resume__name {
    font-size: 2rem;
  }
}

@media (max-width: 47.99875em) {
  .resume__container {
    padding: 0.625rem;
  }

  .resume__content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (gap: clamp( 0.625rem , -1.1771978022rem  +  9.010989011vw , 5.75rem )) {
    .resume__content {
      gap: clamp( 0.625rem , -1.1771978022rem  +  9.010989011vw , 5.75rem );
    }
}

@supports not (gap: clamp( 0.625rem , -1.1771978022rem  +  9.010989011vw , 5.75rem )) {
    .resume__content {
      gap: calc(0.625rem + 5.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5343406593rem  +  6.7032967033vw , 5.6875rem )) {
    .resume__body {
      padding-top: clamp( 1.875rem , 0.5343406593rem  +  6.7032967033vw , 5.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5343406593rem  +  6.7032967033vw , 5.6875rem )) {
    .resume__body {
      padding-top: calc(1.875rem + 3.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5343406593rem  +  6.7032967033vw , 5.6875rem )) {
    .resume__body {
      padding-bottom: clamp( 1.875rem , 0.5343406593rem  +  6.7032967033vw , 5.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5343406593rem  +  6.7032967033vw , 5.6875rem )) {
    .resume__body {
      padding-bottom: calc(1.875rem + 3.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gao: clamp( 0.9375rem , 0.3880494505rem  +  2.7472527473vw , 2.5rem )) {
    .sidebar-menu {
      gao: clamp( 0.9375rem , 0.3880494505rem  +  2.7472527473vw , 2.5rem );
    }
}

@supports not (gao: clamp( 0.9375rem , 0.3880494505rem  +  2.7472527473vw , 2.5rem )) {
    .sidebar-menu {
      gao: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .body-resume {
      gap: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .body-resume {
      gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.8125rem )) {
    .body-resume__name {
      font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.8125rem )) {
    .body-resume__name {
      font-size: calc(2rem + 0.8125 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .contacts-sidebar__number:hover {
    color: #4F55DD;
  }

  .contacts-sidebar__mail:hover {
    color: #4F55DD;
  }

  .contacts-sidebar__gh:hover {
    color: #4F55DD;
  }

  .contacts-sidebar__in:hover {
    color: #4F55DD;
  }

  .projects__link:hover {
    color: #4F55DD;
  }
}